.container {
    width: 80vw;
    margin: auto;
    #chat {
        position: relative;
        padding: 20px;
        background-color: rgba(0, 0, 0, .05);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
        height: 70vh;
        overflow-y: auto;
        .message {
            .message-author {
                padding-left: 5px;
                margin-bottom: 2px;
                font-size: 11px;
                i {
                    font-size: 17px;
                    position: relative;
                    margin-right: 5px;
                }
            }
            .message-content {
                width: 100%;
                border-radius: 10px;
                padding: 6px 15px;
                margin: 5px 8px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
            }
            &.message-in {
                .message-content {
                    background-color: #99d3ff;
                    
                }
            }
            &.message-out {
                .message-content {
                    background-color: rgba(0, 0, 0, .15);
                    
                }
            }
            .message-date {
                display: flex;
                align-items: center;
                font-size: 70%;
                opacity: .8;
            }
        }
        .user-notification {
            font-style: italic;
            font-size: 13px;
            padding: 5px 15px;
            opacity: .9;
            border-top: 1px solid rgba(0, 0, 0, .1);
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            &>span {
                font-weight: bold;
            }
        }
        .user-typing {
            position: absolute;
            bottom: 10px;
            font-style: italic;
            font-size: 11px;
            opacity: .8;
        }
    }
    #message-form {
        padding: 5px;
        margin-top: 30px;
        input {
            padding: 8px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, .4);
            width: 100%;
            color: rgba(0, 0, 0, .8);
            transition: border-bottom .35s ease;
            &::placeholder {
                opacity: .8;
            }
            &:focus {
                outline: none;
                border-bottom: 1px solid rgba(0, 0, 0, .7);
            }
        }
        button {
            background-color: #2196f3;
            margin: 12px 0px;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: none;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
            color: #fff;
            transition: all .25s ease;
            &:hover {
                background-color: #4da6ff;
                transition: all .25s ease;
            }
        }
    }
}

.flex {
    display: flex;
    &.flex-horizontal {
        flex-direction: row;
    }
    &.flex-vertical {
        flex-direction: column;
    }
    &.flex-start {
        justify-content: flex-start;
    }
    &.flex-around {
        justify-content: space-around;
    }
    &.flex-center {
        justify-content: center;
    }
    &.flex-between {
        justify-content: space-between;
    }
    &.flex-end {
        justify-content: flex-end;
    }
    &.align-start {
        align-items: flex-start;
    }
    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }
}

.fill {
    flex: auto;
}

.full {
    height: 100%;
    border-bottom: 1px solid #ccc;
}

.margin-bottom {
    margin-top: 15px;
}

.margin-top {
    margin-top: 15px;
}
