@import 'classes';
@import 'components/form';
@import 'components/chat';
@import 'components/parameters';
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    overflow: hidden;
}

button {
    outline: none;
    &:focus {
        outline: none;
    }
}

p {
    margin: 0;
    color: rgba(0, 0, 0, .9);
}

h3 {
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
